body {
    background-color: #424242;
    color: #ddd;
}

a {
    color: #8CC9F2;
    text-decoration: none;
}

a:hover {
    color: #B7FBDA;
    text-decoration: none;
}

blockquote {
    background-color: #474747;
    border: 1px dotted #868686;
    margin-left: 25px;
}

hr {
    margin: 5px;
    border-top: 1px dashed #aaa;
    border-bottom: none;
}

.form-styled {
    background-color: #525252;
    padding: 10px;
    border-radius: 5px;
}

/*.form-horizontal .controls {    
    margin-left: 10px;
    float: left;
}*/

/*****************************************************************/
/* MESSAGES */
/*****************************************************************/
.error_message {
    background-color: #ffbbbb;
    color: black;
    border-radius: 5px;
    padding: 10px;
}

/*****************************************************************/
/* HEROOOOOO! */
/*****************************************************************/

div.hero-unit:first-of-type {
    padding-top: 40px;
    padding-bottom: 5px;
}

div.hero-unit {
    background-color: #333;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 0px 5px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 0px 5px rgba(0, 0, 0, 0.75);
    padding: 20px;
}

/*****************************************************************/
/* NAVIGATION */
/*****************************************************************/

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background: rgb(114,114,114); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(114,114,114,1) 0%, rgba(58,58,58,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(114,114,114,1)), color-stop(100%,rgba(58,58,58,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(114,114,114,1) 0%,rgba(58,58,58,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(114,114,114,1) 0%,rgba(58,58,58,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(114,114,114,1) 0%,rgba(58,58,58,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(114,114,114,1) 0%,rgba(58,58,58,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#727272', endColorstr='#3a3a3a',GradientType=0 ); /* IE6-9 */
}

/*****************************************************************/
/* DROPDOWN MENUS */
/*****************************************************************/

.dropdown-menu {
    background-color: #757575;
    color: #ddd;
    /*-webkit-box-shadow: 0px 0px 5px rgba(50, 144, 255, 0.75);
    -moz-box-shadow:    0px 0px 5px rgba(50, 144, 255, 0.75);
    box-shadow:         0px 0px 5px rgba(50, 144, 255, 0.75);
    border: 1px #3e82d7 solid;*/
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 0px 5px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 0px 5px rgba(0, 0, 0, 0.75);
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 20px;
    color: #ddd;
    white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background: rgb(188,188,188); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(188,188,188,1) 0%, rgba(155,155,155,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(188,188,188,1)), color-stop(100%,rgba(155,155,155,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(188,188,188,1) 0%,rgba(155,155,155,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(188,188,188,1) 0%,rgba(155,155,155,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(188,188,188,1) 0%,rgba(155,155,155,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(188,188,188,1) 0%,rgba(155,155,155,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#9b9b9b',GradientType=0 ); /* IE6-9 */
}

/*****************************************************************/
/* SIDE MENUS */
/*****************************************************************/

.nav-list {
    background-color: #363636;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 0px 5px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 0px 5px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    border-bottom-right-radius: 0;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.nav-header:first-of-type {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #525252;
    color: #ccc;
    text-shadow: none !important;
}

.nav-header {
    background-color: #525252;
    color: #ccc;
    text-shadow: none !important;
}

.nav-list > li > a {
    color: #8CC9F2;
    text-shadow: none;
}

.nav-list > li > a:hover {
    background: rgb(188,188,188); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(188,188,188,1) 0%, rgba(155,155,155,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(188,188,188,1)), color-stop(100%,rgba(155,155,155,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(188,188,188,1) 0%,rgba(155,155,155,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(188,188,188,1) 0%,rgba(155,155,155,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(188,188,188,1) 0%,rgba(155,155,155,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(188,188,188,1) 0%,rgba(155,155,155,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#9b9b9b',GradientType=0 ); /* IE6-9 */
    color: #333;
    text-shadow: none;
}

.nav-list > li.active > a {
    background: rgb(188,188,188); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(188,188,188,1) 0%, rgba(155,155,155,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(188,188,188,1)), color-stop(100%,rgba(155,155,155,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(188,188,188,1) 0%,rgba(155,155,155,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(188,188,188,1) 0%,rgba(155,155,155,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(188,188,188,1) 0%,rgba(155,155,155,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(188,188,188,1) 0%,rgba(155,155,155,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#9b9b9b',GradientType=0 ); /* IE6-9 */
    color: #333;
    text-shadow: none;
}

.nav-list > li.active > a:hover {
    background: rgb(188,188,188); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(188,188,188,1) 0%, rgba(155,155,155,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(188,188,188,1)), color-stop(100%,rgba(155,155,155,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(188,188,188,1) 0%,rgba(155,155,155,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(188,188,188,1) 0%,rgba(155,155,155,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(188,188,188,1) 0%,rgba(155,155,155,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(188,188,188,1) 0%,rgba(155,155,155,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#9b9b9b',GradientType=0 ); /* IE6-9 */
    color: #333;
    text-shadow: none;
}

/*****************************************************************/
/* BUTTONS */
/*****************************************************************/

.btn {
    background-position: 0 !important;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.7) 0%, rgba(201,201,201,0.67) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.7)), color-stop(100%,rgba(201,201,201,0.67))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(201,201,201,0.67) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(201,201,201,0.67) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.7) 0%,rgba(201,201,201,0.67) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.7) 0%,rgba(201,201,201,0.67) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#abc9c9c9',GradientType=0 ); /* IE6-9 */
    border: 0;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 0px 5px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 0px 5px rgba(0, 0, 0, 0.75);
}

.btn:hover
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.82) 0%, rgba(181,181,181,0.79) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.82)), color-stop(100%,rgba(181,181,181,0.79))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.82) 0%,rgba(181,181,181,0.79) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.82) 0%,rgba(181,181,181,0.79) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.82) 0%,rgba(181,181,181,0.79) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.82) 0%,rgba(181,181,181,0.79) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1ffffff', endColorstr='#c9b5b5b5',GradientType=0 ); /* IE6-9 */
    border: 0;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 0px 5px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 0px 5px rgba(0, 0, 0, 0.75);
}

.btn-primary {
    background: -moz-linear-gradient(top,  rgba(167,207,223,0.75) 0%, rgba(68,100,137,0.63) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,207,223,0.75)), color-stop(100%,rgba(68,100,137,0.63))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(167,207,223,0.75) 0%,rgba(68,100,137,0.63) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(167,207,223,0.75) 0%,rgba(68,100,137,0.63) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(167,207,223,0.75) 0%,rgba(68,100,137,0.63) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(167,207,223,0.75) 0%,rgba(68,100,137,0.63) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfa7cfdf', endColorstr='#a1446489',GradientType=0 ); /* IE6-9 */
    border: 0;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 0px 5px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 0px 5px rgba(0, 0, 0, 0.75);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
    background: -moz-linear-gradient(top,  rgba(167,207,223,1) 0%, rgba(68,100,137,0.89) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,207,223,1)), color-stop(100%,rgba(68,100,137,0.89))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(167,207,223,1) 0%,rgba(68,100,137,0.89) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(167,207,223,1) 0%,rgba(68,100,137,0.89) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(167,207,223,1) 0%,rgba(68,100,137,0.89) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(167,207,223,1) 0%,rgba(68,100,137,0.89) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#e3446489',GradientType=0 ); /* IE6-9 */
    border: 0;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 0px 5px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 0px 5px rgba(0, 0, 0, 0.75);
}


.btn-group.open .btn-primary.dropdown-toggle {
    background: rgb(17,164,221); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(17,164,221,1) 0%, rgba(16,71,135,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,164,221,1)), color-stop(100%,rgba(16,71,135,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(17,164,221,1) 0%,rgba(16,71,135,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(17,164,221,1) 0%,rgba(16,71,135,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(17,164,221,1) 0%,rgba(16,71,135,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(17,164,221,1) 0%,rgba(16,71,135,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11a4dd', endColorstr='#104787',GradientType=0 ); /* IE6-9 */
    border: 0;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 0px 5px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 0px 5px rgba(0, 0, 0, 0.75);
}

div.btn-group .btn {
    box-shadow: none;
}

div.btn-group {
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 0px 5px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 0px 5px rgba(0, 0, 0, 0.75); 
}


.btn-group.open .dropdown-toggle {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}


/*****************************************************************/
/* TABLES */
/*****************************************************************/

.table {
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:    0px 1px 10px rgba(0, 0, 0, 0.7);
    box-shadow:         0px 1px 10px rgba(0, 0, 0, 0.7);
}

th, td {

}

.table thead tr {
    background: rgb(145,145,145); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(145,145,145,1) 0%, rgba(107,107,107,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(145,145,145,1)), color-stop(100%,rgba(107,107,107,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(145,145,145,1) 0%,rgba(107,107,107,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(145,145,145,1) 0%,rgba(107,107,107,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(145,145,145,1) 0%,rgba(107,107,107,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(145,145,145,1) 0%,rgba(107,107,107,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#919191', endColorstr='#6b6b6b',GradientType=0 ); /* IE6-9 */
    border: 1px solid #777;
}

.table tbody tr {
    background-color: #545454;
}

.table tbody tr > td:first-child {
    width: 30%;
    border-left: 1px solid #ddd;
}

.table-hover tbody tr:hover > td {
    background-color: #656565;
}

.table-hover tbody td:hover {
    background-color: #656565;
}

.table-bordered th, .table-bordered td {
    border: none;
}

.table thead tr > td:first-child {
    border-left: 1px solid #ddd;
}

/*****************************************************************/
/* USER INFO */
/*****************************************************************/
.user_avatar {
    width: 128px !important;
    margin-top: 15px;
    vertical-align: bottom;
}

.user_info {
    margin-left: 10px !important;
}

/*****************************************************************/
/* RULES */
/*****************************************************************/

.rules {
    background-color: #525252;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow:    0px 0px 5px rgba(0, 0, 0, 0.7);
    box-shadow:         0px 0px 5px rgba(0, 0, 0, 0.7);
}